h3{
    padding-top: 30px;
}

.content{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.content input[type="submit"]{
    border-radius: 8px;
    border: 0;
    background-color: #e2b659;
    padding: 10px;
    font-weight: bold;
}


.content input[type="submit"]:hover{
    background-color: #e0a31c;

}

.navbar{
    background-color: black;
}

.content select{
    border-radius: 8px;
    border: 0;
}

.content select:hover{
    background-color: lightgray;
}
